* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image_section {
  height: 100vh;
  position: relative;
  background-image: url(./images/developer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image_section h1 {
  position: relative;
  top: 10%;
  left: 15%;
  font-size: 50px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

span {
  font-size: 20px;
}

/* Section Two */

.work_section {
  background-color: black;
  height: 20vh;
  color: #fff;
  justify-content: center;
  display: flex;
}

.work_section h1 {
  padding-top: 5px;
  font-size: 50px;
  font-weight: 400;
}
.you {
  font-size: 70px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Section Three */
.design_section {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  margin-top: 10px;
}
.card {
  width: 300px;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.1);
}
.img {
  height: 180px;
  width: 300px;
}

/* card_contact */
.card_contact {
    padding: 20px;
}

.card_contact p {
    padding-top: 20px;
    padding-right: 20px;
}

/* Section Four */
.contact_section {
    display: flex;
    justify-content: space-between;
}

.conatct {
    padding: 20px;
    background-color: #515603;
    color: #fff;
}

.conatct h1{
    font-size: 50px;
}

.conatct p {
    padding-top: 20px;
}

/* about */
.about {
    padding: 20px;
    background-color: #722300;
    color: #fff;
}

.about h1 {
    font-size: 50px;
}

.about p {
    padding-top: 20px;
}

/* footer */
.footer {
    background-color: #000;
    color: #fff;
    justify-content: center;
    display: flex;
    padding: 10px;
}


/* Mebile quries added 1024  */
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  {
  .image_section {
    height: 100vh;
    position: relative;
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .image_section h1 {
    position: relative;
    top: 10%;
    left: 15%;
    font-size: 50px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  span {
    font-size: 20px;
  }
  
  /* Section Two */
  
  .work_section {
    background-color: black;
    height: 20vh;
    color: #fff;
    justify-content: center;
    display: flex;
  }
  
  .work_section h1 {
    padding-top: 5px;
    font-size: 50px;
    font-weight: 400;
  }
  .you {
    font-size: 70px;
    font-weight: 400;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  /* Section Three */
  .design_section {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    margin-top: 10px;
  }
  .card {
    width: 300px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .img {
    height: 180px;
    width: 300px;
  }
  
  /* card_contact */
  .card_contact {
      padding: 20px;
  }
  
  .card_contact p {
      padding-top: 20px;
      padding-right: 20px;
  }
  
  /* Section Four */
  .contact_section {
      display: flex;
      justify-content: space-between;
  }
  
  .conatct {
      padding: 20px;
      background-color: #515603;
      color: #fff;
  }
  
  .conatct h1{
      font-size: 50px;
  }
  
  .conatct p {
      padding-top: 20px;
  }
  
  /* about */
  .about {
      padding: 20px;
      background-color: #722300;
      color: #fff;
  }
  
  .about h1 {
      font-size: 50px;
  }
  
  .about p {
      padding-top: 20px;
  }
  
  /* footer */
  .footer {
      background-color: #000;
      color: #fff;
      justify-content: center;
      display: flex;
      padding: 10px;
  }
  
}

/* Mebile quries added 992px */
@media screen and (max-width: 992px) {
  .image_section {
    height: 90vh;
    position: relative;
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .image_section h1 {
    /* position: relative; */
    top: 5%;
    left: 5%;
    font-size: 30px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 300;
    /* letter-spacing: 2px; */
  }
  
  span {
    font-size: 20px;
  }
  
  /* Section Two */
  
  .work_section {
    background-color: black;
    height: 10vh;
    color: #fff;
    justify-content: center;
    display: flex;
  }
  
  .work_section h1 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 400;
  }
  .you {
    font-size: 30px;
    font-weight: 400;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  /* Section Three */
  .design_section {
    display: inline-block;
    justify-content: space-evenly;
    height: 75vh;
    margin-left: 120px;
  }
  .card {
    width: 500px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .img {
    height: 180px;
    width: 500px;
  }
  
  /* card_contact */
  .card_contact {
      padding: 20px;
  }
  
  .card_contact p {
      padding-top: 20px;
      padding-right: 20px;
  }
  
  /* Section Four */
  .contact_section {
      display: inline-block;
      justify-content: space-between;
      margin-top: 60px;
  }
  
  .conatct {
      padding: 20px;
      background-color: #515603;
      color: #fff;
  }
  
  .conatct h1{
      font-size: 50px;
  }
  
  .conatct p {
      padding-top: 20px;
      font-size: 20px;
  }
  
  /* about */
  .about {
      padding: 20px;
      background-color: #722300;
      color: #fff;
  }
  
  .about h1 {
      font-size: 50px;
  }
  
  .about p {
      padding-top: 20px;
      font-size: 20px;
  }
  
  /* footer */
  .footer {
      background-color: #000;
      color: #fff;
      justify-content: center;
      display: flex;
      padding: 10px;
  }
  
}
/* Mebile quries added 600px */
@media screen and (max-width: 600px) {
    .image_section {
        height: 80vh;
        position: relative;
        background-image: url(./images/developer.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .image_section h1 {
        /* position: relative; */
        top: 5%;
        left: 5%;
        font-size: 16px;
        color: white;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 300;
        /* letter-spacing: 2px; */
      }
      
      span {
        font-size: 20px;
      }
      
      /* Section Two */
      
      .work_section {
        background-color: black;
        height: 10vh;
        color: #fff;
        justify-content: center;
        display: flex;
      }
      
      .work_section h1 {
        padding-top: 5px;
        font-size: 25px;
        font-weight: 400;
      }
      .you {
        font-size: 30px;
        font-weight: 400;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      
      /* Section Three */
      .design_section {
        display: inline-block;
        justify-content: space-evenly;
        height: 75vh;
        margin-left: 30px;
      }
      .card {
        width: 300px;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      .card:hover {
        transform: scale(1.1);
      }
      .img {
        height: 180px;
        width: 300px;
      }
      
      /* card_contact */
      .card_contact {
          padding: 20px;
      }
      
      .card_contact p {
          padding-top: 20px;
          padding-right: 20px;
      }
      
      /* Section Four */
      .contact_section {
          display: inline-block;
          justify-content: space-between;
          margin-top: 40px;
      }
      
      .conatct {
          padding: 20px;
          background-color: #515603;
          color: #fff;
      }
      
      .conatct h1{
          font-size: 50px;
      }
      
      .conatct p {
          padding-top: 20px;
      }
      
      /* about */
      .about {
          padding: 20px;
          background-color: #722300;
          color: #fff;
      }
      
      .about h1 {
          font-size: 50px;
      }
      
      .about p {
          padding-top: 20px;
      }
      
      /* footer */
      .footer {
          background-color: #000;
          color: #fff;
          justify-content: center;
          display: flex;
          padding: 10px;
      }
      
}